%% -*- erlang -*-
%% Config file for uart-application
{deps, [dthread]}.
{erl_opts, [debug_info, fail_on_warning]}.
{sub_dirs, ["src"]}.

%% -DDEBUG -DDEBUG_MEM
{port_env, [
	    {"CFLAGS", "$CFLAGS -D_THREAD_SAFE -I ../dthread/include"},
	    {"LDFLAGS", "$LDFLAGS ../dthread/c_src/dlib.o ../dthread/c_src/dterm.o ../dthread/c_src/dthread.o"}
	   ]}.

{port_specs, [
	      {"(linux|freebsd|darwin)","priv/uart_drv.so",
	       [ "c_src/uart_drv.c",
		 "c_src/uart_buf.c",
		 "c_src/uart_queue.c",
		 "c_src/uart_com_state.c",
		 "c_src/uart_modem_state.c",
		 "c_src/uart_options.c",
		 "c_src/uart_message.c",
		 "c_src/uart_unix.c"
	       ]},
	      {"win32","priv/uart_drv.so",
	       ["c_src/uart_drv.c"]}
	     ]}.


